@model Person

<div class="product-details">
    <h2>    Name: @Model.Name</h2>
    <h3 >    Job: @Model.Job</h3>
    <h4>    YearExperiances: @Model.YearExp</h4>
    <h5>    Age: @Model.Age</h5>
    <p>     Notes: @Model.Notes</p>  
    <p>     Votes: @Model.Votes</p>
    <a href="/Admin/Person/List">Back to Persons List</a>
</div>